*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.bookList{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.book{
    color: black;
    margin: 10px;
    padding: 20px 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 5px 15px rgb(63, 60, 60);
}

img{
    height: 200px;
    width: auto;
}

.foot{
    margin: 20px;
    padding: 10px 0px;
    text-align: justify;
}

.foot p{
    color: rgb(37, 87, 187);
}

#price{
    color:red;
}

.heading{
    text-align: center;
    padding-top: 10px;
}

#heading{
    margin: 10px;
    padding: 10px 10px 0px 10px;
}

.underline{
    border:2px solid rgb(6, 170, 241);
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
}

#buyer{
    color: grey;
    display: inline-block;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 5px;
}

.container{
    height: 20px;
    display: flex;
    align-items: center;
    align-content: center;
}